.container {
  height: 45%;
  width: 30%;
  padding: 16px;
  /* border-color: black; */
  border: 2px solid rgb(173, 170, 170);
  border-radius: 5px;
  background-color: rgba(107, 101, 95, 0.13);
}

.myform {
  width: 40%;
  text-align: center;
  font-weight: bold;
  float: left;
}

.formContainer {
  display: inline-block;
}

.form {
  text-align: left;
  padding: 2px 50px;
}

/* .inputBox {
  width: 100%;
  padding: 10px 8px;
  background-color: #ddd;
  font-size: 16px;
  border-radius: 5px;
} */

/* .submitBtn {
  width: 50%;
  background-color: #365e37;
  border-color: 2px solid #ccc;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
} */

/* .resetBtn {
  width: 50%;
  background-color: #928605;
  border-color: 2px solid #ccc;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
} */
